@keyframes upEnter {
  0% {
    transform:translateY(20px);
    opacity: 0;
  }
  100% {
    transform:translateY(0);
    opacity: 1;
  }
}

@keyframes rotateAll {
  0% {
    transform: rotate(360deg) scale(1);
  }
  20% {
    transform: scale(2.5);

  }
  60% {
    transform: scale(0.3);
  }
  100% {
    transform: rotate(0deg) scale(1) ;
  }
}