*{padding:0;margin:0; transition:0.5s all;}
a{text-decoration:none;color:#666;}
a:hover {color:#333;}
input{outline:none;}
li{list-style:none;}

#nav {

}

#header {
  background-color: #f9ecce;
  height:300px;
  overflow: hidden;
}

/*-----------container---------------*/
#container {
  display: flex;
}
.container_left {
  width:300px;
  height:100vh;
  background-color: rgba(234,219,113,0.5);
  box-shadow: 2px 0 5px rgba(234,219,113,0.5);
}
.container_left:hover {
  box-shadow: 2px 0 10px rgba(144, 145, 147, 0.5);
}
.container_right {
  flex:1;
}

/*------------nav---------------*/
.nav_list {
  margin:20px;
  font-size:18px;
}

/*-------------index---------------*/
#index_container {
  width:80%;
  margin-left:50px;
}
.post_list {
  height:150px;
  margin:30px 0;
  box-sizing: border-box;
  padding:20px;
  border:1px solid rgba(186,188,190,0.5);
  animation:0.8s upEnter forwards;
}
.post_list:hover {
  border:1px solid rgba(186,188,190,0.8);
  border-radius: 10px;
}

/*------------------post-------------------*/
#post_container {
  width:80%;
  margin:30px auto;
  animation:0.8s upEnter forwards;
}