<html lang="en">
<%- partial('_partial/head') %>
<body>

<div id="container">
    <div class="container_left">
    <%- partial('_partial/nav') %>
    </div>
    <!-- Main Content -->
    <div class="container_right">
    <%- body %>
    </div>
</div>
</body>
</html>