---
layout: layout
---
<div id="post_container">
    <h1 class="post_title">
        <%= page.title %>
    </h1>
    <hr />
    <%- page.content %>
    <div id="post_toc">
    <%- toc(page.content,{list_number: false}) %>
    </div>
</div>

<script>
  cleanJIAO();
</script>
