<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title><%= config.title %></title>
    <link rel="icon" href="css/img/icon.png" type="image/x-icon"/>
    <%- css('css/main.css','css/media.css','css/animation.css','css/post.css') %>
    <%- js('js/common.js') %>
</head>